html,
body {
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif; /* For the Quicksand font */
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers items horizontally */
  align-items: center;
}

.no-activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
